  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
 margin: 0;
 padding: 0;
}

p{
 font: 400 18px Open Sans;
 text-align: center;
 -webkit-font-smoothing:antialiased;
 -moz-font-smoothing: antialiased
}


h2{
 font: 600 26px Poppins;
 text-align: center;
 -webkit-font-smoothing:antialiased;
 -moz-font-smoothing: antialiased
}

.mobile-bg{
 padding: 30px 20px 0px 20px ;
 width: 100%;
 height: 690px;
 background-image: url('bg-hero-mobile.svg');
 background-size: cover;
 background-color: hsl(193, 100%, 96%);
 }

header img{
float: left;
width:auto;
height:15px ;
}

header p{
 font: 700 12px Open Sans;
 color: black;
 background-color: white;
 float: right;
 width: 100px;
 padding: 6px;
 border-radius:16px ;
 margin-top: -8px;
 text-align: center;
 box-shadow: 0.1px 0.1px 10px 0.5px rgba(0, 0, 0, 0.1);
}

header p:hover{
  cursor: pointer;
  opacity: 0.8;
}

article{
 clear: both;
 text-align: center;
 margin: 80px 0px 0px 0px;
}

article p{
 margin: 30px  10px 0px 10px;
}

.get-started-button{
 color: white;
 text-align: center;
 margin: 0 auto;
 margin-top: 30px;
 background-color: hsl(322, 100%, 66%);
 width: 70%;
 padding: 12px;
 border-radius:26px;
 font: 700 14px Open Sans;
}
.get-started-button:hover{
  cursor: pointer;
  opacity: 0.7;
}


.illustration-mockup{
 margin: 40px 15px 0px 12px ;
 width: auto;
 height: 220px;
}


.container{
 display: flex; 
 flex-direction: column;
 width: 86%;
 margin: 0 auto;
 margin-top: 60px;
 border-radius: 16px;
 background-color:white;
 height: fit-content;
 box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
 /* background-color: aqua; */
}

.img-container{
 display: flex;
 justify-content: center;
 /* transition: filter 0.3s ease-in-out; */
}

section img{
 display: inline-block;
 width: 80%;
 height: auto;
 border-radius: 14px;
 margin-top:60px;
}

section h2{
  margin-top: 40px;
  font: 600 22px Poppins;
}

section p{
 padding: 22px;
 color: hsl(208, 11%, 55%);
 font: 400 16px Open Sans;
}


footer{
  width: 100%;
  color: white;
  background-color: hsl(192, 100%, 9%);
  margin-top: 220px;
  padding:40px 10px 20px 10px;  
}

.content-box{
 margin: auto;
 width: 92%;
 background-color: white;
 border-radius: 16px;
 height: fit-content;
 padding: 10px;
 margin-top: -140px;
 box-shadow: 0.1px 0.1px 10px 0.5px rgba(0, 0, 0, 0.1);
}

.content-box h2{
 font: 600 18px Poppins;
 margin-top: 30px;
 color: black;
 }

.content-box p{
 margin-bottom: 30px
}

.footer-logo{
  margin-top: 40px;
  padding-left:5px ;
}


.content-box2 img{
  margin-left: 8px;
  margin-bottom: -26px;
}

.content-box2 p {
  margin:0px 0px 20px 30px;
  text-align: left;
  padding-left: 10px;
}
 
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  font: 400 18px Open Sans;
  text-align: left ;
  padding-left: 8px;
  margin-bottom: 10px;
}

li:first-child{
  margin-top: 50px;
}

li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.icon-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 40px;
  }

.circle-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-border:hover{
    cursor: pointer;
    border: 2px solid hsl(322, 100%, 66%);
    color:  hsl(322, 100%, 66%);
}

i {
    font-size: 22px;
    color: #fff;
}

i:hover{
    color:  hsl(322, 100%, 66%);
}

.last-main-div{
 font: 400 14px Poppins;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
}

@media screen and (min-width:900px) {
  .mobile-bg{
    padding: 30px 60px 0px 60px ;
    background-image: url('bg-hero-desktop.svg'); 
    height: 100vh;
     margin-bottom: 150px;
}

.dummy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap:3rem;
}
  header img{
     height:30px ;
    }
    
    header p{
     width: 140px;
     padding: 10px;
     border-radius:20px ;
    }

   article{
    text-align: left;
    margin: 90px 0px 0px 0px;
   
   }
   article h2{
    width: 80%;
    text-align: left;
    font: 600 40px Poppins;
   }
   
   article p{
    margin: 30px 0px 0px 0px;
    text-align: left;
    width: 88%;
   }
   
   .get-started-button{
    margin-left: 0px;
    margin-top: 30px;
    width: 36%;
    padding: 12px;
    border-radius:20px;
    font: 400 12px Open Sans;
   }

   .illustration-mockup{
    margin: 0px 0px 0px 0px ;
    width: auto;
    height: 430px;
   }

   .container{
    flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 16px;
    background-color:white;
    height: fit-content;
    padding: 40px;  
    align-items: center;  
  }
   section img{
    display: inline-block;
    width: 66%;
    border-radius: 14px;
    margin-top:0px;
    padding: 0px;
     }
   section h2{
    margin-top: 0px;
    margin-left: 50px;
    font: 600 22px Poppins;
    text-align: left;
  }
  section p{
    width: 80%;
    padding: 0px;
    margin-top: 10px;
    margin-left: 50px;
    font: 400 16px Open Sans;
    text-align: left;
   }

   .img-container{
    display: flex;
    justify-content: flex-end;}

.container-2{
  display: flex;
  flex-direction: row;
  padding-left: 80px;  
}

.flow-convo-img{
  justify-content: flex-start;
 }

 .content-box{
  margin: auto;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  height: fit-content;
  padding: 10px;
  margin-top: -150px;
  box-shadow: 0.1px 0.1px 10px 0.5px rgba(0, 0, 0, 0.1);
 }

 .button{
  margin: auto;
  margin-top: 30px;
  width: 50%;
  padding: 20px;
  border-radius:30px;
  font: 700 15px Open Sans; 
 }

 .content-box h2{
  font: 600 26px Poppins;
  margin-top: 30px;
  color: black;
  }

  .footer-logo{
    margin-top: 70px;
    padding-left:100px ;
  }
  
  .desktop-footer{
    display: flex;
    padding: 100px;
    gap: 12rem;
  }
   
  .box2{
    margin-top: -50px;
    width: 35%;
  }

  li:first-child{
    margin-top: -30px;
  }

  .icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: -20px;
    }

  .last-main-div{
    font: 400 14px Poppins;
    text-align: right;
    margin:-10px 120px 20px 0px;
   }     
}